/* .btn {
    background-color: #0078FF;
} */

/* .btn:hover{
    background-color: #0078FF;
} */

body{
    background-color: white;
}

.header{
    text-align: center;
    margin-bottom: 100px;
}
.remove{
    background-color: transparent;
    border: none;
    color: #990000;
    float: right;
    padding: 0;
    font-size: 7mm;
    outline: none;

    transition: 0.5s;
}
.remove:hover{
    color : #cc0000;
    transform: scale(1.1);
}
#Hello{
    margin-bottom: 10px;
}
.form-buttons{
    background-color: #00c6ff;
    font-size: 7mm;
    color: white;
    width: 100%;
    padding: 20px;

    transition: 1.5s;

    margin-bottom: 10px;
}

.form-buttons:hover{
    background-color: #0078ff;
}

.form-buttons:focus{
    background-color: #00c6ff;
    outline: none;
}